/* general styling of the entire website */

html, body {
    margin: 0;
    height: 100vh;
    overflow-y: auto;

    /* font definition */
    font-family: "Overpass", sans-serif;
    font-optical-sizing: auto;

    background: linear-gradient(#2e502d, #566e64);
    color: #cccccc;
}

h1, h2, h3 {
    text-align: center;
    margin: 10px;
}

h1 {
    font-weight: 500;
    font-size: 1.85rem;
}

p {
    margin-inline: 15px;
}

img {
    border-radius: 15px;
}